.buttonsContainer, .containerNecessities, .infoContainer, .productsContainer{
  display: flex;
  width: auto;
  margin: 5px 20px;
  justify-content: center; 
}

.eventsContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: auto;
  margin: 5px 20px;
  justify-items: center; 
}



.title{
  text-align: center;
  width: 100%;
}