.container{
    background-color: #9EC0B0;
    width: 1440px;
    height: 92px;
}
.title{
    position: absolute;
    width: 544px;
    height: 89px;
    left: 471px;
    top: 2px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 72px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.logo{
    position: absolute;
    width: 80px;
    height: 71px;
    left: 338px;
    top: 5px;
}