.container{
    background-color: #9EC0B0;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
}
.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.logo{
    position: absolute;
    width: 65px;
    height: 60px;
    left: 57vw;
    top: 0px;
}